/* soft reset do CSS*/
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

  body{
    background-image: url('../img/fundo1.jpg');
    background-size: auto 100vh;
    font-family: Courier New;
    height: 100vh;
    font-size: 11px;
  }

  @media (main-width: 350px) {
    body {
      font-size: 14.5px;
    }
  }
  @media (min-width: 450px) {
    body {
      font-size: 16px;
    }
  }
  @media (min-width: 550px) {
    body {
      font-size: 18px;
    }
  }
  @media (min-width: 700px) {
    body {
      font-size: 22px;
    }
  }
  @media (min-width: 1020px) {
    body {
      font-size: 25px;
    }
  }
  @media (min-width: 2004px) {
    body {
      font-size: 32px;
    }
  }
    
  header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: line-through;
    color: black;
  }
  
  .menu {
    background-color: #006400;
    border: solid;
    border-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .menu a{
    display: block;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .menu li{
    list-style: none;
  }
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .site-title,
  .site-subtitle,
  .notas-criador {
    text-align: center;
    color: #C0C0C0;
  }
  .site-title {
    text-decoration: underline;
  }
  h3 {
    font-style: italic;
  }
  .img-portfolio{
    max-width: 50%;
    height: auto;
  }

  figcaption {
    color: silver;
    padding: 0px 15px;
  }

  /*section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }*/
  section h2{
    color: wheat;
  }